language: php
php:
    - 5.3
    - 5.4
before_script:
    - wget http://mozware.free.fr/tuleap/debian/pool/non-free/j/jpgraph/libphp-jpgraph-tuleap_2.3.4-1_all.deb
    - sudo dpkg -i --force-all libphp-jpgraph-tuleap_2.3.4-1_all.deb
    - pear install Mail_mimeDecode
    - sed -i "s#/etc#$PWD#" $PWD/src/etc/local.inc.dist
    - mkdir -p $PWD/codendi/plugin/IM/etc/
    - cp $PWD/plugins/IM/include/jabbex_api/installation/resources/jabbex_conf.tpl.xml $PWD/codendi/plugin/IM/etc/jabbex_conf.xml
    - echo "$PWD/codendi/plugin/IM/etc/jabbex_conf.xml"
    - cat /home/vagrant/builds/nterray/tuleap/codendi/plugins/IM/etc/jabbex_conf.xml
script: CODENDI_LOCAL_INC=$PWD/src/etc/local.inc.dist make test

