language: php
php:
    - 5.3
    - 5.4
before:
#    - sudo echo "deb http://mozware.free.fr/tuleap/debian/ squeeze main contrib non-free" >> /etc/apt/sources.list
#    - sudo apt-get install libphp-jpgraph-tuleap
    - wget http://mozware.free.fr/tuleap/debian/pool/non-free/j/jpgraph/libphp-jpgraph-tuleap_2.3.4-1_all.deb
    - sudo dpkg -i --force-all libphp-jpgraph-tuleap_2.3.4-1_all.deb
    - pear install Mail_mimeDecode
    - sed -i "s#/etc#$PWD#" $PWD/src/etc/local.inc.dist
#http://ci.tuleap.net/yum/tuleap/dev/x86_64/jpgraph-tuleap-2.3.4-1.noarch.rpm
script: CODENDI_LOCAL_INC=$PWD/src/etc/local.inc.dist make test

